{{- if .IsPage -}}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{ with .Params.cover.image }}{{ . | absURL }}{{ else }}{{ "images/og-image.webp" | absURL }}{{ end }}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
  <meta name="twitter:image" content="{{ with .Params.cover.image }}{{ . | absURL }}{{ else }}{{ "images/og-image.webp" | absURL }}{{ end }}" />

   <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">

{{- end -}}

{{- if .IsHome -}}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta name="twitter:description" content="{{ .Site.Params.description }}">
{{- end -}}

{{ $style := resources.Get "css/extra.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">